@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    font-weight: normal;

    // page router transition 
    .page-enter-active,
    .page-leave-active {
        transition: transform 0.5s;
    }

    .page-enter,
    .page-leave-to {
        transform: translateX(100%);
    }

    //==========head top com ===========
    .head-top-com{
        height: 45px;
        display: flex;
        align-items: center;
        box-shadow: 1px 1px 2px 2px var(--color-textGray);
        .link{
            font-size: 18px;
            color: var(--color-textBlack);
            display: flex;
            align-items: center;
            .icon{
                font-size: 22px;
                padding: 1px 10px;
               
            }
        }
    }

    //===============headerPage
    .head-com {
        height: 48px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 2px 0px #ccc;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        max-width: 1280px;

        .left-content {
            img {
                display: block;
                width: 100%;
                height: 46px;
            }

            padding-left: 10px;
        }

        .right-content {
            margin-right: 6px;
            display: flex;
            align-items: center;

            .action {
                .link {
                    margin-right: 10px;
                    // font-weight: bold;

                    padding: 4px 6px;
                    border-radius: 2px;
                    box-shadow: 1px 1px 0px #ccc;
                    background-color: var(--color-primary);
                    color: var(--color-textBlack);
                }
            }

            .lang {
                position: relative;

                .lang-list {
                    position: absolute;
                    background-color: var(--color-textGray);
                    box-shadow: 1px 1px 2px #ccc;
                    padding: 10px;
                    border-radius: 10px;
                    right: -32px;
                    top: 36px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 18px solid transparent;
                        border-right: 18px solid transparent;
                        border-bottom: 11px solid var(--color-textGray);
                        top: -10px;
                        right: 32px;


                    }

                    .lang-item {
                        display: flex;
                        min-width: 130px;
                        width: 100%;
                        padding: 5px;
                        align-items: center;

                        img {
                            width: 30px;
                            height: 20px;
                        }

                        .text {
                            margin-left: 10px;
                            font-weight: bold;
                        }
                    }
                }

            }

            .icon {
                font-size: 24px;
                padding: 0 8px;
                padding-top: 2px;
                color: var(--color-textBlack);
            }

            .mode {
                padding: 1px;

            }


        }
    }

    //end===============headerPage

    // ===============navBar
    // .nav-com {
    //     width: 100%;
    //     position: fixed;
    //     bottom: 0;
    //     height: 52px;
    //     max-width: 1280px;
    //     box-shadow: 0px 0px 4px 0px #ccc;
    //     padding-top: 2px;

    //     .nav-list {
    //         flex: 1;
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         height: 100%;

    //         .nav-item {
    //             flex: 1;

    //             .link {
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;
    //                 align-items: center;
    //                 font-size: 16px;
    //                 color: var(--color-depthSellBg);

    //                 .icon {
    //                     font-size: 18px;
    //                     margin-bottom: 2px;
    //                 }

    //                 &.active {
    //                     color: var(--color-primary);
    //                 }
    //             }

    //         }
    //     }
    // }

    // end===============navBar

    // ==========home==============
    .home-content {

        padding-top: 45px;
        padding-bottom: 50px;
        min-height: 100vh;

        .slider {
            height: 158px;
            margin-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;

            // width: 100%;
            .slider-list {
                position: relative;


                .slider-item {
                    position: absolute;
                    height: 158px;
                    border-radius: 10px;
                    overflow: hidden;
                    width: 100%;
                    opacity: 0;
                    transition: opacity 0.6s;

                    .link {
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;

                        }
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }

            .controll-list {
                display: flex;
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);

                .controll-item {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: var(--color-textGray);
                    margin: 0 4px;
                    opacity: 0.5;
                    transition: opacity 0.6s;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }

        .marquee {
            height: 30px;
            overflow: hidden;
            background-color: var(--color-textGray);
            margin: 10px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            padding-right: 20px;

            .text {
                text-wrap: nowrap;
                color: var(--color-line);
            }

            .icon {
                padding: 0 10px;
                font-size: 16px;
                background-color: var(--color-textGray);
                color: var(--color-iconNormal);
            }

        }

        .hot-crypto {
            margin: 0 10px;
            border: 1px solid var(--color-textSecondary);
            border-radius: 10px;
            padding: 5px;

            .title {
                padding: 0 5px;
                font-size: 16px;
                font-weight: bold;
            }

            .box-head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;

                .name {
                    font-size: 14px;
                    font-weight: bold;
                    flex: 1;
                    text-align: center;
                    color: var(--color-textThird);
                }
            }

            .crypto-list {

                .crypto-item {
                    margin-bottom: 10px;

                    .link {
                        display: flex;
                        justify-content: space-between;

                        .left {
                            display: flex;
                            flex: 1;

                            img {
                                width: 24px;
                                height: 24px;
                            }

                            .name {
                                font-size: 16px;
                                margin-left: 5px;
                                font-weight: bold;

                                .curency {
                                    font-weight: bold;
                                    font-size: 14px;
                                    color: var(--color-textSecondary);
                                }
                            }
                        }

                        .center {
                            flex: 1;
                            font-weight: bold;
                            color: var(--color-sell);
                            text-align: center;

                            &.up {
                                color: var(--color-buy)
                            }
                        }

                        .right {
                            flex: 1;
                            text-align: center;
                            font-weight: bold;
                            color: var(--color-sell);

                            &.up {
                                color: var(--color-buy)
                            }
                        }
                    }
                }
            }
        }

        .service {
            display: flex;
            margin: 0 10px;
            margin-top: 10px;
            // border: 1px solid var(--color-textSecondary);
            border-radius: 10px;
            padding: 10px 0px;
            justify-content: space-between;

            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--color-textSecondary);
                border-radius: 10px;
                padding: 5px;

                img {
                    width: 30px;
                    height: 30px;
                }

                .text {
                    font-weight: bold;
                }
            }

            .left {
                margin-right: 5px;
            }


        }
    }

    // end==============home========

    // login-page start==============
    .login-page {
        .login-body{
            .logo {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                img {
                    width: 200px;
                    height: 50px;
                }

            }
            .form-content{
                margin-top: 40px;
                margin-left: 18px;
                margin-right: 18px;

                .form-group{
                    height: 42px;
                    background-color: var(--color-textGray);
                    margin-bottom: 15px;
                    // padding: 0px 10px;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    overflow: hidden;
                    input[type=text]{
                        flex: 1;
                        height: 100%;
                        border: none;
                        outline: none;
                        background-color: var(--color-textGray);
                        font-size: 16px;
                    }
                    .icon{
                        font-size: 24px;
                        margin: 0px 10px;
                        color: var(--color-textBlack);
                    }

                    &.verify {
                        position: relative;
                        img {
                            position: absolute;
                            right: 2px;
                            width: 80px;
                            height: 30px;
                        }
                    }
                }
                
            }
            .form-footer{
                display: flex;
                justify-content: space-between;
                padding: 0 16px;
                .left{
                    display: flex;
                    align-items: center;
                    input[type=checkbox]{
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                    }
                }
            }
            .controll{
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 30px;
                button {
                    width: 100%;
                    height: 42px;
                    font-size: 18px;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--color-primaryHover);
                }
            }
           
        }
    }
    // end =========== login-page

    // register-page ===========start
    .register-page {
        .register-body{
            .logo {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                img {
                    width: 200px;
                    height: 50px;
                }

            }
            .form-content{
                margin-top: 40px;
                margin-left: 18px;
                margin-right: 18px;
               
                border-radius: 10px;
                box-shadow: 0px 0px 3px 1px var(--color-textGray);
                padding: 5px 10px;
                .form-group{
                    height: 42px;  
                    display: flex;
                    align-items: center;    
                    overflow: hidden;
                    border-bottom: 1px dotted var(--color-textBlack);
                    label {
                        font-size: 16px; 
                        margin-right: 10px;
                        font-weight: bold;
                    }
                    input[type=text]{
                        flex: 1;
                        height:40px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                       
                    }
        

                    &.verify {
                        position: relative;
                        border-bottom: none;
                        img {
                            position: absolute;
                            right: 2px;
                            width: 80px;
                            height: 30px;
                        }
                    }
                }
                
            }
            .form-footer{
                display: flex;
                justify-content: space-between;
                padding: 0 18px;
                
                margin-top: 20px;
                .left{
                    display: flex;
                    align-items: center;
                    input[type=checkbox]{
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                    }
                }
            }
            .controll{
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 30px;
                button {
                    width: 100%;
                    height: 42px;
                    font-size: 18px;
                    border: none;
                    border-radius: 10px;
                    background-color: var(--color-primaryHover);
                }
            }
           
        }
    }

    // my-page===========start
    .my-page {
     
        .box-head {
            .user-info {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0px;
                background: linear-gradient(135deg, rgba(220, 230, 94, 1) 31%, rgba(153, 216, 244, 1) 50%, rgba(0, 211, 255, 1) 76%);
                min-height: 180px;

                .user-avatar {
                    border-radius: 50%;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    width: 80px;
                    height: 80px;

                    img {
                        width: 100%;
                    }
                }

                .info {
                    .info-detail {
                        font-weight: bold;
                        color: var(--color-textBlack);

                        .value {
                            font-weight: bold;
                        }

                        .icon {
                            margin-left: 10px;
                            color: var(--color-iconNormal);
                        }
                        .activeReload {
                            animation: rotateIcon 1s infinite;
                            @keyframes rotateIcon {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg) ;
                                }
                            }
                        }
                    }
                }
            }

            .action {

                display: flex;
                justify-content: center;
                // margin-top: 20px;
                box-shadow: 0px 1px 2px 0px #ccc;
                padding: 8px 0px;

                .link {
                    display: flex;
                    color: var(--color-textBlack);
                    // flex-direction: column;
                    font-size: 22px;
                    flex: 1;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        font-size: 22px;
                        margin-right: 10px;

                        color: var(--color-iconNormal);

                    }
                }

                .line {
                    width: 1px;
                    background-color: #ccc;
                }
            }
        }

        .menu-bar {
            display: flex;
            flex-direction: column;
            .menu-list {
                display: flex;
                border: 1px solid #ccc;
                box-shadow: 1px 1px 2px #ddd;
                position: relative;
                border-radius: 5px;
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 10px;

                .line {
                    content: '';
                    height: 2px;
                    width: 25%;
                    background-color: var(--color-primary);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: left 0.4s;
                }

                .menu-item {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding: 5px;
                    font-size: 14px;
                    align-items: center;
                    // border-bottom: 2px solid transparent;
                    position: relative;

                    // &.active {
                    //     border-color: var(--color-primary);
                    // }
                    .link {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    .icon {
                        font-size: 18px;
                        color: var(--color-iconNormal);
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }

                }
            }
           
        }

        .menu-detail-list {
            flex-grow: 100;
            margin: 10px 5px;
            position: relative;
            
            .menu-detail-item {
                border: 1px solid var(--color-borderPrimary);
                box-shadow: 1px 1px 2px var(--color-borderPrimary);
                border-radius: 5px;
                transform: scale(0);
                position: absolute;
                transition: all 0.4s;
                width: 100%;

                &.active {
                    transform: scale(1);
                }

                .sub-menu-list {
                    padding: 0px 15px;

                    .sub-menu-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid var(--color-borderPrimary);
                        padding: 10px;
                        position: relative;

                        &:last-child {
                          border-color: transparent;
                        }
                        .left {
                            display: flex;
                            align-items: center;

                            .icon {
                                font-size: 20px;
                                margin-right: 10px;
                                color: var(--color-iconNormal);
                                min-width: 30px;
                            }

                        }

                        .link {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    // trade-page ===========start
    .trade-page {
        .head {
            display: flex;
            align-items: center;
            height: 40px;
            justify-content: space-between;
            box-shadow: 1px 1px 2px 2px #ccc;
            padding: 0 10px;
            .left{
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                }
                .text{
                    font-size: 18px;
                    font-weight: bold;
                    .curency{
                        display: inline-block;
                        margin-left: 2px;
                    }
                }
            }
            .right{
                display: flex;
                align-items: center;
                color: var(--color-textBlack);
                .coin {
                    font-weight: bold;
                }
                .icon {
                    margin-left: 10px;
                }
            }
        }
    }









    @import './darkMode.scss';
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}